# This is Git's per-user configuration file.
#
[core]
	attributesfile = /Users/yassine/.gitattributes
	autocrlf = input
	editor = nvim
	excludesfile = /Users/yassine/.gitignore_global
[user]
	name = Yassine Gherbi
	email = yassine@hexelnet.com
[alias]
	count-lines = "! git log --author=\"$1\" --pretty=tformat: --numstat | awk '{ add += $1; subs += $2; loc += $1 - $2 } END { printf \"added lines: %s, removed lines: %s, total lines: %s\\n\", add, subs, loc }' #"
# git pull defaults to git pull ,like it should. come at me bro
[pull]
	rebase = false
[init]
	defaultBranch = main
