" use native clipboard (unnamed | ideaput)
set clipboard+=unnamed

" Show the current VIM mode
set showmode

" join via the IDE.
set ideajoin

" don't facking BEEP
set vb

" don't touch top or bottom of the page
set scrolloff=8

" use vim-highlightedyank
set highlightedyank

" use vim NERDTree plugin
set NERDTree

" use vim-surround plugin
set surround

" use vim-easymotion plugin
set easymotion

" enable multiple cursors
set multiple-cursors

" highlight matches with last search pattern
set hlsearch

" no ignore case when pattern has uppercase
set smartcase

" ignore case in search patterns
set ignorecase

" set leader to space
nmap <space> <leader>

" no highlight search
nmap <leader>m :noh<CR>

" Add a semicolon to end of line
nmap <C-;> A;<Esc>
" Add a comma to end of line
nmap <C-,> A,<Esc>

" split lines with shift-k
nmap K i<CR><Esc>

" Toggle relative line numbers
nmap <leader>n :set rnu!<CR> :set nu!<CR>

" close and save
nmap <leader>x :x<CR>

" write file
nmap <leader>w :w<CR>

" write all files
nmap <leader>wa :wa<CR>

" go to end of line and delete char <C-l>
" noremap <C-l> <Esc>$x<Esc>

" refresh .ideavimrc source ~/.ideavimrc
nmap <silent> <leader>sv :source ~/.ideavimrc<CR>

" Insert mode
inoremap <C-H> <Left>
inoremap <C-J> <Down>
inoremap <C-K> <Up>
inoremap <C-L> <Right>

inoremap <C-P> <Esc>
inoremap <C-BS> <Esc>

" New line without going insert mode
nmap <S-Enter> O<Esc>
nmap <CR> o<Esc>

" Start from bottom part of comment to select the full comment
nmap <C-5> %v%

" Navigation
" nmap <C-o> :action Back<CR>
" nmap <C-i> :action Forward<CR>
" nmap <C-o> <Action>(Back)
" nmap <C-i> <Action>(Forward)

" multiple cursors mappings
"   mc start multi-cursor mode
"   mc next match
"   mx skip next match
"   mp remove current match and go back to previous one
map mc <A-n>
map mx <A-x>
map mp <A-p>

" sethandler Config"
sethandler <C-I> a:ide
sethandler <C-O> a:ide
sethandler <C-F> a:ide
sethandler <C-Q> a:ide

sethandler <S-CR> a:vim
sethandler <C-2> a:vim
sethandler <C-5> a:vim
sethandler <C-D> a:vim
sethandler <C-G> a:vim
sethandler <C-H> a:vim
sethandler <C-L> a:vim
sethandler <C-N> a:vim
sethandler <C-P> a:vim
sethandler <C-T> a:vim
sethandler <C-V> a:vim

set relativenumber " Show relative line numbers
set number         " Show current line number except current line
